@media only screen and (min-width: 64em){

    .navigation{
        display: flex;
        justify-content: center;
    }
    
    .navigation li:first-child{
        display: none;    
    }

    #gallery-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
    
    #cities{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    }