@media only screen and (min-width: 64em){

    /* --------------------------------HTML-------------------------- */



    /* -----------------------------------CLASS-------------------------- */
    .left-side{
        grid-row: 4/4;
    }

    .hero {
        width: 100%;
        grid-column: 1/4;
        max-height: 500px;
    }
    
    .swiss-temple-detail{
        grid-column: 2/4;
        margin: 1em;
       margin-top: 3em;
    }

    .niceRoom{
        box-shadow: 5px 10px 10px 5px #888888;
        max-width: 400px;
        width: 95%;
        margin-right: 2em;
    }

    .left-side{
        grid-row: 1/3;
        }
    
    .templeImg{
        width: 350px;
        height: 200px;
        }
    
    .serviceImg {
            width: 500px;
        }

    /* -------------------------------------------IDs------------------------ */
    /* #amenities {
        margin-left: 4em;
        padding-right: 10em;
    } */

    #swiss-temple{
        max-width: 600px;
        overflow: hidden;
    }

    #home-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #bedDetail {
        grid-column: 1/1;
    }
    #livingDetail {
        grid-column: 2/2;
    }
    
    #bathroomDetail {
        grid-column: 3/3;
    }

   


}
