ul  {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li a {
    background-color: blueviolet;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
#gridStuff{
    display: grid;
    grid-template-columns: 65% 35%;
}

.leftSide {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 2em;
    text-align: center;
    background-color: #0C5BAF;
}
.rightSide {
    grid-column-start: 2;
    background-color: #F4D35E;
}
#headForSite{
    text-align: left;
    padding: 1em;
}
#Title{
    padding: 2em;
}
body{
    background-color: #ffffff;
}