

nav ul li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

nav ul{
    list-style: none;
}

main {
    margin: 100px;
}

.active {
    background-color: #230A59;
}

#content-container{
    display: grid;
    grid-template-columns: 1fr;

}

#target-audience-content-container{
    display: grid;
    grid-template-columns: 1fr;
}

.header {
    margin: 30px;
    background: linear-gradient(#5C73F2, #829FD9);
    padding: 1em;
    box-shadow: 5px 5px 5px 5px #8C8C8C;
}

header{
    color: #ffffff;
}
h2{
    color: #5C73F2;
}

#color1{
    color: #230A59;
}

.textColor1{
    color:#5C73F2;
}
.textColor2{
    color: #829FD9;
}
.textColor3{
    color: #230A59;
}

.textColor4{
   color: #8C8C8C;
}

.secondaryFont{
font-family: 'Nanum Gothic', sans-serif;
}

.mainFont{
    font-family: 'Cinzel', serif;
}