/* html selectors */

/* colors
#B8F8FF Light Blue
#ffffff White Obvi
#F2F2F2 Light Grey
#8C8C8C Text Color
 */

 /* ------------------------------------------ */
 /* ----------------------For Everything------ */

.grid{
    display: grid;
}
/* ------------------------------------------ */
/* ----------------Header------------------- */
.logo{
    width: 100px;
}

#hero{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    background-image: url(/lesson5/images/hero\ img.jfif);
}

#weather-summary{
    background-color: #F2F2F2;
    left: 100px;
    padding: 10px;
    position: absolute;
    top: 200px;
    opacity: .8;
}

header{
    background: linear-gradient(#ffffff, #B8F8FF);
     display: flex; 
     flex-direction: column;
     align-items: center;
     font-family: 'Raleway', sans-serif;
}

/* ---------------------------------------- */
/* -------------Nav Bar-------------------- */
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav{
    background: #F2F2F2;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li a {
    display: block;
    /* padding: .8rem 2%; */
    text-decoration: none;
    color: #000;
    border-top:1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.4);
}

.navigation{
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;

}

.navigation li:first-child{
    display: block;
}

nav ul li.active a{
     background-color: rgba(0,0,0,0.2); color: #fff;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

a{
    padding: 1em;
}

/* ---------------------------------------- */
/* -----------------Body------------------- */

body {
    margin: 0;
    padding: 0;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
/* ------------------------------------------ */
/*---------------Main Section----------------*/
main{
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
}
#preston{
    background-color: #B8F8FF;
    text-align: center;
    color: #595959;
}

#hero{
    background-color: #F2F2F2;
    text-align-last: center;
    color: #595959;
}

#five-day-forecast{
    background-color: #B8F8FF;
    text-align-last: center;
    color: #595959;
    opacity: .5;
}

#articles{
    background-color: #F2F2F2;
    text-align-last: center;
    color: #595959;
}

#contact-info{
    background-color: #B8F8FF;
    text-align-last: center;
    color: #595959;
}

/* ---------------------------------- */
/* -----------Footer---------------- */

footer{
    background: linear-gradient(#ffffff, #B8F8FF) ;
    text-align: center;
    padding: 2em;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    
}